beautifulsoup4
requests
lxml
Pillow
PyNaCl
discord
aiohttp
discord-ext-menus
pytz
bs4
wavelink
discord-ext-modal-paginator
typing_extensions
apscheduler
click
dotenv
pomice>=2.9.2
cryptography
aiomysql
