DISCORD_DEV=
DISCORD_MAIN=
DISCORD_ERRORS_WEBHOOK_ID=
DISCORD_ERRORS_WEBHOOK_TOKEN=

COMMAND_PREFIX=!
FORUM_CHANNEL_ID=

LAVALINK_HOST=
LAVALINK_PORT=
LAVALINK_PASSWORD=
LAVALINK_IDENTIFIER=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

API_KEY=

MYSQL_HOST=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PORT=
MYSQL_PASSWORD=

MYANIMELIST_API_KEY=
ANILIST_API_ID=
ANILIST_API_SECRET=

VALORANT_API_KEY=
VALORANT_TRACKER_KEY=
